* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.card img {
    max-width: 100%;
    height: auto;
}

.img-container {
    position: relative;
    min-height: 100%;
}

.card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.overlay h4 {
    margin: 0;
    color: #fff;
}

.overlay p {
    margin: 0;
    color: #fff;
    font-size: 0.8rem;
}

.overlay button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card:hover .overlay {
    transform: translateY(-30%);
    opacity: 1;
}