* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.movieList_sort {
    padding: 0 0 10px 10px;
}

.movieList_image_container {
    position: relative;
    height: 100%;

}

.movieList_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.movieList_movieCard_overlay {
    position: absolute;
    width: 100%;
    height: fit-content;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movieList_movieCard_overlay .movieCard_overview {
    width: 100%;
    height: fit-content;
}

.card:hover .movieList_movieCard_overlay {
    opacity: 1;
}

.movieList_card {
    background-color: transparent;
    border: 0;
    height: 100%;
}

.movieList_card p {
    color: white;
    margin: 0.2em;
    text-align: center;
}

.movieCard_title{
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 3px;
}